$clr-bckgr-primary: hsl(30, 54%, 90%);
$clr-bckgr-secondary: hsl(0, 0%, 100%);
$clr-bckgr-par: hsl(330, 100%, 98%);

$clr-primary-h: hsl(24, 5%, 18%);
$clr-secondary-h: hsl(14, 45%, 36%);
$clr-ter-h: hsl(332, 51%, 32%);

$clr-font: hsl(30, 10%, 34%);
$clr-line: hsl(30, 18%, 87%);

$fs-regular: 16px;

$ff-primary: 'Outfit', sans-serif;
$ff-secondary: 'Young Serif', serif;

$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;